
  @media (min-width: 1025px) and (max-width: 1280px) {
    
    header .header-right ul li a{
        padding: 15px 10px;
        }
        .container .div-1 {
            width: 30%;
            padding: 30px;
        }
        .container .div-1 h3 {
            font-size: 20px;
        }
        footer .copy-right p {
          line-height: 37px;
          font-size: 15px;
      }
      footer .footer-icon {
        width: 55%;
    }
    footer .footer-icon .fab {
      font-size: 15px;
      padding: 10px 5px;
  }
  .about-me .about-conten {
    line-height: 1.5;
}

  }
  
  @media (min-width: 768px) and (max-width: 1024px){
      header .header-left img {
        height: 27px;
        margin-top: 1px;
    }
      header .header-right ul li a {
        padding: 8px;
        font-size: 12px;
    }
    .benner .benner-conten p {
      font-size: 15px;
      margin-top: 10px;
    }
    .benner {
      height: 200px;
    }
    .benner .benner-conten {
      padding-top: 75px;
    }
    .about-me .about-conten {
      width: 68%;
      line-height: 1;
      margin-left: 5px;
    }
   
    .container .div-1 {
      width: 80%;
      padding: 25px 10px;
      margin-left: 0;
      margin-bottom: 20px;
      float: none;
      margin: 0 auto 20px auto;
  }
    .container .div-1 h3 {
      margin: 15px 0;
      font-size: 24px;
    }
    .container {
      padding: 25px 70px 1px;
    }
    footer .footer-icon {
      width: 50%;
      margin-right: 40px;
  }
    footer p{
      font-size: 12px;
    }
    footer .footer-icon .fab {
      font-size: 12px;
      padding: 12px 2px;
    }
  }
  
  @media (max-width: 767px) {
    
    header .header-left {
      width: 100%;
      text-align: center;
  }
  header .header-left img {
    height: 30px;
    margin-top: 8px;
    margin-left: 0;
}
header .header-right {
  width: 100%;
  text-align: center;
}
header .header-right ul li{
  border: none;
}
header .header-right ul li a {
  display: block;
  color: white;
  padding: 0 5px 10px;
  transition: .4s;
  font-size: 12px;
}
.benner {
  height: 150px;
}
.benner .benner-conten {
  padding-top: 35px;
  color: rgb(0, 183, 255);
  width: 60%;
  margin: auto;
}
.benner .benner-conten p {
  font-size: 12px;
  margin-top: 7px;
}
.about-me .image {
  width: 40%;
  float: none;
  margin: auto;
}
.about-me {
  width: 100%;
  padding: 25px 0;
  margin: auto;
}
.about-me .about-conten {
  width: 100%;
  line-height: 1.5;
  text-align: center;
}
.about-me .about-conten h3 {
  margin: 15px;
}
.container{
  background-color: rgba(255, 250, 240);
  padding: 20px;
}
.container .div-1 {
  width: 100%;
  padding: 25px 10px;
  margin-left: 0;
  margin-bottom: 20px;
  float: none;
  margin: 0 auto 20px auto;
  border-radius: 5px;
}
.container .div-1 h3 {
  margin: 15px 0;
  font-size: 20px;
  
}
.container {
  padding: 25px 15px 1px;
}
footer .footer-icon {
  width: 40%;
  margin-right: 40px;
}
footer .copy-right {
  width: 42%;
}
footer p{
  font-size: 10px;
}
footer .footer-icon .fab {
  font-size: 12px;
  padding: 12px 2px;
}

}